* {
    margin: 0;
    padding: 0;
}

.fullBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    width: 100%;
}

#dropDown {
    width: 50px;
}

.header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header h1 {
    color: cornflowerblue;
    padding-left: 20px;
}

.icons {
    width: 20px;
}

.list-group {
    width: 100%;
}

.list-group a {
    color: rgb(12, 39, 90);
}